body{
  margin: 0;
  padding: 0;
  background-color: gray;
  color: white;
}
.titulo{
  font-family: 'Press Start 2P', cursive;
}

.container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 35vh;
}

.menu{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.put{
  border: dashed 3px greenyellow;
  border-radius: 15px;
}
.fiel{
  border: double 3px greenyellow;
}
.label{
  font-family: 'Bangers', cursive;
  font-size: 40px;
  
}

.btn{
  width: 200px;
  height: 70px;
  border-radius: 15px;
  border: outset greenyellow 3px;
  background-color:darkslategray;
  color: greenyellow;
}
.btn:hover{
 background-color: greenyellow;
 border: black 3px outset;
 transition: 12ms;
 color: black;

}



  